

table {
    width: 100%;
    border-collapse: collapse;
    background: #4C555C;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.99);
    margin: 5vh 0;
  }
  
  table th, table td {
    padding: 10px;
    text-align: left;
  }
  
  table thead {
    background: #333840;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  table th {
    text-align: center;
    font-weight: bold;
    border-bottom: 2px solid #4C555C;
  }
  
  table tbody tr:nth-child(even) {
    background: #41484F;
  }
  
  table tbody tr:nth-child(odd) {
    background: #4C555C;
  }

  table tbody tr td{
    text-align: center;
  }
  
  table tbody tr:hover {
    background: #636C73;
    color: #fff;
  }

  .btn-action-edit,
  .btn-action-active{
    height: 35px;
    width: 80px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7)
  }

  .btn-action-edit{
    background-color: #0056b3;
  }

  .btn-action-active{
    background-color: #a10000;
  }

  .btn-action-edit:hover{
    background-color: #00356d;
  }

  .btn-action-active:hover{
    background-color: #4b0000;
  }